<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="container">
        <h1>Budgtr ALL</h1>
        <% const fullAmount = allBudget.reduce((a, b) => a + parseInt(b.amount), 0)%>
        <h2>Bank Account: $ <%=fullAmount%></h2>
        <table>
            <a href="/budgets/new">Add a budget item</a>
        <% for(let i = 0; i < allBudget.length; i++) { %>
            <tr>
                <td>
                <%=allBudget[i].date %>
                </td>
                <td>
                    <a href="/budgets/<%=i%>"><%=allBudget[i].name %></a>
                    </td>
                    <td>
                        <%=allBudget[i].from %>
                        </td>
                        <td>
                            <%=allBudget[i].amount %>
                            </td>

                    <td>
                    <%=allBudget[i].tags %>
                    </td>
            </tr>
        
        <% } %>
            
        </table>

            
    </div>

</body>
<script>
if(<%=fullAmount%> < 0){document.body.style.backgroundColor = "red";} else if(<%=fullAmount%>  > 1000){document.body.style.backgroundColor = "green";}
</script>
</html>