<!DOCTYPE html>
<html>
    <%- include("./partials/head.ejs") %>
    <body>
        <div class="container">
        <h1><%=allBudget[index].name %></h1>
        <a href='/budgets'><button>Back</button></a>
        <h3>Date</h3>
            <%=allBudget[index].date %>
        <h3>Name</h3>
            <%=allBudget[index].name %>
        <h3>From</h3>
            <%=allBudget[index].from %>
        <h3>Amount</h3>
            <%=allBudget[index].amount %>
        <h3>Tags</h3>
            <%=allBudget[index].tags %>
        </div>
    </body>
</html>